<!--<mat-expansion-panel class="expansidenav " [expanded]=true>
  <mat-expansion-panel-header class="header-panel" collapsedHeight="35px" expandedHeight="35px">
    <mat-panel-title class="header-panel">
      Next Races
    </mat-panel-title>
    <mat-panel-description class="header-panel">

    </mat-panel-description>
  </mat-expansion-panel-header>-->
  <!--<mat-horizontal-stepper labelPosition="bottom" class="stepper">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="number" color="primay">
      <mat-icon>done_all</mat-icon>
    </ng-template>
    <mat-step [completed]="true" *ngFor="let panel of chunked_arr; index as i">
      <div class="d-flex flex-row ">
        <div class="flex-fill p-2" *ngFor="let race of panel">
          <div class="d-flex flex-column">
            <div class="p-2">
              <div class="d-flex flex-column ">
                <div class="d-flex flex-row">
                  <div>
                    <div mat-card-avatar class="flag-icon mr-1" [ngClass]="{
                'flag-icon-ie':race.cid === '55',
                'flag-icon-gb':race.cid === '242',
                'flag-icon-in':race.cid === '90',
                'flag-icon-it':race.cid === '112',
                'flag-icon-za':race.cid === '203',
                'flag-icon-us':race.cid === '202'
              }"></div>{{race.meeting}}
                  </div>
                  <div class="ml-auto">{{race.date | date : 'HH:mm'}}</div>
                </div>

                <div>HORSE GALOP race {{race.number}}</div>
                <div>{{race.st}} Runners, {{race.prize | currency}} GBP Prize</div>
              </div>
            </div>
            <div class="d-flex flex-column p-2">
              <div class="d-flex flex-row">
                <div>
                  <img class="giubba" src="https://cdn.mediasystemtechnologies.it/ippicaoutfits/20181115WAG0105.png" title="Scuderia: MESDAMES B A MOODY E A E PEASE">

                </div>
                <div>
                  <div class="d-flex flex-column">
                    <div>
                      <b> 1</b> Al Daiha
                    </div>
                    <div>
                      G Mosse
                    </div>
                  </div>
                </div>
                <div class="ml-auto">
                  <div class="d-flex flex-column closed text-center p-2  border-right">
                    <div>
                      Win
                    </div>
                    <div>
                      18.00
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex flex-column closed text-center p-2">
                    <div>
                      Pla
                    </div>
                    <div>
                      3.40
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column p-2">
              <div class="d-flex flex-row">
                <div>
                  <img class="giubba" src="https://cdn.mediasystemtechnologies.it/ippicaoutfits/20181119VIG0501.png" title="Scuderia: MESDAMES B A MOODY E A E PEASE">

                </div>
                <div>
                  <div class="d-flex flex-column">
                    <div>
                      <b> 1</b> Al Daiha
                    </div>
                    <div>
                      G Mosse
                    </div>
                  </div>
                </div>
                <div class="ml-auto">
                  <div class="d-flex flex-column closed text-center p-2  border-right">
                    <div>
                      Win
                    </div>
                    <div>
                      18.00
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex flex-column closed text-center p-2">
                    <div>
                      Pla
                    </div>
                    <div>
                      3.40
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column p-2">
              <div class="d-flex flex-row">
                <div>
                  <img class="giubba" src="https://cdn.mediasystemtechnologies.it/ippicaoutfits/20181119VIG0512.png" title="Scuderia: MESDAMES B A MOODY E A E PEASE">

                </div>
                <div>
                  <div class="d-flex flex-column">
                    <div>
                      <b> 1</b> Al Daiha
                    </div>
                    <div>
                      G Mosse
                    </div>
                  </div>
                </div>
                <div class="ml-auto">
                  <div class="d-flex flex-column closed text-center p-2  border-right">
                    <div>
                      Win
                    </div>
                    <div>
                      18.00
                    </div>
                  </div>
                </div>
                <div>
                  <div class="d-flex flex-column closed text-center p-2">
                    <div>
                      Pla
                    </div>
                    <div>
                      3.40
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="ml-auto">More ></div>
          </div>
        </div>

      </div>

    </mat-step>

  </mat-horizontal-stepper>-->
  <div class="d-flex">
    <mat-card *ngFor="let race of array" class="mr-1 next-race">
      <div class="d-flex flex-column" *ngIf="race.race">
        <div class="p-2">
          <div class="d-flex flex-column ">
            <div class="d-flex flex-row">
              <div>
                <div mat-card-avatar class="flag-icon mr-1" [ngClass]="{
                  'flag-icon-ie':race.cid === '55',
                  'flag-icon-gb-eng':race.cid === '242',
                  'flag-icon-in':race.cid === '90',
                  'flag-icon-it':race.cid === '112',
                  'flag-icon-za':race.cid === '203',
                  'flag-icon-us':race.cid === '202',
                  'flag-icon-gb-sct':race.cid === '241'
          }"></div>{{race.meeting}}
              </div>
              <div class="ml-auto">{{race.date | date : 'HH:mm'}}</div>
            </div>
            <div class="d-flex flex-row">
              <div>
                <mat-icon svgIcon="horse" color="accent"></mat-icon>
              </div>
              <div class="ml-auto">Race {{race.number}}</div>
            </div>
            <div class="d-flex flex-row">
              <div>{{race.st}} Runners</div>
              <div class="ml-auto">{{race.prize | currency}} GBP</div>
            </div>
          </div>
          <hr class="mt-0">
        </div>

        <div class="d-flex flex-column pb-1" *ngFor="let horse of race.race.horse; index as i">
          <div class="d-flex flex-row">
            <div>
              <img class="giubba" src="{{'https://fe-mst.mstchannel.com/wsdataupload/images/' + horse.image}}" title="Scuderia: MESDAMES B A MOODY E A E PEASE"
                onerror="this.src='../../assets//20181125qmt010601.png'">

            </div>
            <div>
              <div class="d-flex flex-column">
                <div class="horse-row">
                  <b> {{horse.number}}</b> {{horse.name}}
                </div>
                <div class="horse-row">
                  {{horse.jockey}}
                </div>
              </div>
            </div>
            <div class="ml-auto">
              <div *ngIf="horse.quotaVincente && horse.quotaVincente > 0" class="d-flex flex-column closed text-center p-2  border-right">
                <div>
                  Win
                </div>
                <div>
                  {{horse.quotaVincente/100}}
                </div>
              </div>
            </div>
            <div>
              <div *ngIf="horse.quotaPiazzato && horse.quotaPiazzato > 0" class="d-flex flex-column closed text-center p-2">
                <div>
                  Pla
                </div>
                <div>
                  {{horse.quotaPiazzato/100}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

  </div>
<!--</mat-expansion-panel>-->