
<mat-accordion displayMode='flat' [multi]=true>
  <mat-expansion-panel class="expansidenav " [expanded]=true>
    <mat-expansion-panel-header class="header-panel" collapsedHeight="35px" expandedHeight="35px">
      <mat-panel-title class="header-panel" >
        Next Races
      </mat-panel-title>
      <mat-panel-description class="header-panel">

      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-nextraces></app-nextraces>
  </mat-expansion-panel>
  <mat-expansion-panel class="expansidenav">
    <mat-expansion-panel-header class="header-panel" collapsedHeight="35px" expandedHeight="35px">
      <mat-panel-title class="header-panel">
        Today Races
      </mat-panel-title>
      <mat-panel-description class="header-panel">

      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-todayrace></app-todayrace>
  </mat-expansion-panel>
</mat-accordion>