<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar d-flex ">
    <div class="">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="logoimg" (click)="home()">

    </div>
    <div class="flex-grow-1 example-footer mat-expansion-panel-content" >
      <div class="d-flex">
        <div class="flex-fill closed text-center border-right" *ngFor="let race of next.race" (click)="racedetail(race.id)">
          <div class="pl-3 pr-3">
            <mat-icon svgIcon="horse" color="accent"></mat-icon>
           {{race.date | date : 'HH:mm'}}
          </div>
          <div class="pl-3 pr-3 flag-footer">
            <div mat-card-avatar class="flag-icon  mr-1"
            [ngClass]="{
              'flag-icon-ie':race.cid === '55',
              'flag-icon-gb':race.cid === '242',
              'flag-icon-in':race.cid === '90',
              'flag-icon-it':race.cid === '112',
              'flag-icon-za':race.cid === '203',
              'flag-icon-us':race.cid === '202'
            }"></div>
            <span matBadge="{{race.number}}" matBadgeOverlap="false" matBadgeColor="accent">{{race.meeting | slice:0:4}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="ml-auto">
      <app-theme-picker (selectTheme)="onSetTheme($event)" [currentTheme]="currentTheme" [themes]="themes"></app-theme-picker>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel class="expansidenav" *ngFor="let country of races.country">
            <mat-expansion-panel-header>
              <mat-panel-title>

                <div mat-card-avatar class="flag-icon mr-1"
                [ngClass]="{
                  'flag-icon-ie':country.id === '55',
                  'flag-icon-gb':country.id === '242',
                  'flag-icon-in':country.id === '90',
                  'flag-icon-it':country.id === '112',
                  'flag-icon-za':country.id === '203',
                  'flag-icon-us':country.id === '202'
                }"></div> {{country.country}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
              <mat-expansion-panel class="expansidenav"  *ngFor="let course of country.course;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{course.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{course.race.length}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="d-flex flex-wrap">

                    <div class="d-flex flex-column p-1 border-right"
                    [ngClass]="{
                      'closed':race.st === '1',
                      'opened':race.st === '14'
                    }" *ngFor="let race of course.race;">
                      <div>{{race.number}}</div>
                      <div>{{race.date | date : 'HH:mm'}}</div>
                    </div>
                </div>


              </mat-expansion-panel>
            </mat-accordion>

          </mat-expansion-panel>




        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>




      <div class="d-flex flex-column p-2">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



</div>