.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    margin-bottom: 45px;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.mat-sidenav {
    max-width: 290px;
}

.logoimg {
    background: url('../assets/MST.png') no-repeat center;
    background-size: cover;
    width: 100px;
    height: 36px;
    cursor:pointer;
}

.example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-x: auto;
    z-index: 1;
}

.example-footer::-webkit-scrollbar {
    display: none;
}

.example-footer>div {
    flex: 1
}

.example-footer>div>div {
    white-space: nowrap;
}

.count {
    font-size: 3em;
}

.flag-icon {
    height: 20px;
    width: 20px;
}

.flag-footer>.flag-icon {
    height: 16px;
    width: 16px;
}