<!--The content below is only a placeholder and can be replaced.-->
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar d-flex ">
    <div class="">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="logoimg" (click)="home()">

    </div>
    <div class="flex-grow-1 example-footer mat-expansion-panel-content">
      <div class="d-flex">
        <div class="flex-fill closed text-center border-right" *ngFor="let race of next.race" (click)="racedetail(race.id)">
          <div class="pl-3 pr-3">
            <mat-icon svgIcon="horse" color="accent"></mat-icon>
            {{race.date | date : 'HH:mm'}}
          </div>
          <div class="pl-3 pr-3 flag-footer">
            <div mat-card-avatar class="flag-icon  mr-1" [ngClass]="{
              'flag-icon-ie':race.cid === '55',
              'flag-icon-gb':race.cid === '242',
              'flag-icon-in':race.cid === '90',
              'flag-icon-it':race.cid === '112',
              'flag-icon-za':race.cid === '203',
              'flag-icon-us':race.cid === '202'
            }"></div>
            <span matBadge="{{race.number}}" matBadgeOverlap="false" matBadgeColor="accent">{{race.meeting |
              slice:0:4}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="ml-auto">
      <app-theme-picker (selectTheme)="onSetTheme($event)" [currentTheme]="currentTheme" [themes]="themes"></app-theme-picker>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel class="expansidenav" *ngFor="let country of races.country">
            <mat-expansion-panel-header>
              <mat-panel-title>

                <div mat-card-avatar class="flag-icon mr-1" [ngClass]="{
                  'flag-icon-ie':country.id === '55',
                  'flag-icon-gb':country.id === '242',
                  'flag-icon-in':country.id === '90',
                  'flag-icon-it':country.id === '112',
                  'flag-icon-za':country.id === '203',
                  'flag-icon-us':country.id === '202'
                }"></div>
                {{country.country}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
              <mat-expansion-panel class="expansidenav" *ngFor="let course of country.course;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{course.name}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{course.race.length}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="d-flex flex-wrap">

                  <div class="d-flex flex-column p-1 border-right" [ngClass]="{
                      'closed':race.st === '1',
                      'opened':race.st === '14'
                    }"
                    *ngFor="let race of course.race;">
                    <div>{{race.number}}</div>
                    <div>{{race.date | date : 'HH:mm'}}</div>
                  </div>
                </div>


              </mat-expansion-panel>
            </mat-accordion>

          </mat-expansion-panel>




        </mat-accordion>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>




      <div class="d-flex flex-column p-2">
        <div *ngIf="router.url === '/main'" class="d-flex flex-nowrap align-items-stretch pb-2">
          <div class="flex-grow-1 ">
            <mat-card class="next-race">
              <mat-card-content>
                <div class="d-flex">
                  <div class="flex-fill">
                    <b>Prossima CORSA</b>
                    <br />
                    <div mat-card-avatar class="flag-icon flag-icon-gb mr-1"></div> Italia TREVISO GL/PM GALOPPO
                    <br /> Corsa 6 (ore 16:30) in partenza tra:
                    <p class="mt-2 count text-center">00:00:30
                      <br />
                      <button mat-raised-button color="primary" (click)="racedetail(1)">SCOMMETTI ORA</button>
                    </p>

                  </div>
                  <div class="flex-fill">
                    <b>Premio TRASPORTO RAPIDO</b>
                    <br /> Montepremi: 5.060 €
                    <br /> Num. Concorso: 3586
                    <br /> Distanza: M.1660
                    <br /> Tipologia Pista: PICCOLA
                    <br /> Tipologia Corsa: CAT. E GENTLEMEN
                    <br /> Tempo: BELLO
                    <br /> Terreno: BUONO
                  </div>
                </div>

              </mat-card-content>

            </mat-card>
          </div>
          <div class="pl-2">
            <mat-card class="p-2 cart">

              <vg-player (onPlayerReady)="onPlayerReady($event)">
                <vg-controls [vgAutohide]="true" >
                  <vg-play-pause vgFor="my-video"></vg-play-pause>
                  <vg-mute vgFor="my-video"></vg-mute>
                </vg-controls>
                <video #myMedia 
                [muted]="true" 
                [volume]=0 
                [vgMedia]="myMedia" 
                [vgHls]="'https://betflag-live.morescreens.com/betflag-9/playlist.m3u8?video_id=27&authority_instance_id=spectar-prd-betflag&token=e23282360c611e4601d5a765675433185117dea6&profile_id=18&application_installation_id=240&subscriber_id=18&application_id=backoffice2&channel_name=no_title_long_translation_available_for_english&detected_delivery_method=hls'"
                (onGetBitrates)="onGetBitrates($event)" 
                id="my-video" 
                type="video/mp4" 
                preload 
                autoplay
                crossorigin>
                </video>
              </vg-player>
            </mat-card>
          </div>
        </div>

        <div class="d-flex">
          <div class="flex-grow-1 ">
            <router-outlet></router-outlet>
          </div>
          <div class="pl-2">
            <mat-accordion displayMode='flat' [multi]=true class="cart-accordion">
              <mat-expansion-panel class="expansidenav " [expanded]=true hideToggle>
                <mat-expansion-panel-header class="header-panel" collapsedHeight="35px" expandedHeight="35px">
                  <mat-panel-title class="header-panel">
                    Fixed Odds
                  </mat-panel-title>
                  <mat-panel-description class="header-panel">
                    <span></span>
                    <mat-icon>receipt</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-card class="cart">
                  <mat-card-content>
                    <div class="d-flex flex-column mb-3">
                      <div class="p-2 "> item 1</div>
                      <div class="p-2"> item 2</div>
                      <div class="p-2"> item 3</div>
                    </div>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-flat-button color="primary" class="mr-2">BOOK</button>
                    <button mat-flat-button color="primary">PLACE BET</button>
                  </mat-card-actions>
                </mat-card>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>



</div>