
@import "~bootstrap/scss/bootstrap";
// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Roboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; 
@import "~bootstrap/scss/utilities";

@import '~@angular/material/theming';
// Plus imports for other components in your app.
$flag-icon-css-path: '~flag-icon-css/flags';
@import "~flag-icon-css/sass/flag-icon";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$light-indigo-primary: mat-palette($mat-indigo);
$light-indigo-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-indigo-theme:   mat-light-theme($light-indigo-primary, $light-indigo-accent);

@mixin mix-app-theme($theme) {


  // Extract whichever individual palettes you need from the theme.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent); // Use mat-color to extract individual colors from a palette as necessary.
  
  .closed {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
    font-size: 0.9em;
  }

  .opened {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
    font-size: 0.9em;
}
}

.light-indigo-theme {
  @include angular-material-theme($light-indigo-theme);
  @include mix-app-theme($light-indigo-theme);
}


$light-deep-purple-accent:  mat-palette($mat-amber, A200, A100, A400);
$light-deep-purple-primary: mat-palette($mat-deep-purple);
$light-deep-purple-theme:   mat-light-theme($light-deep-purple-primary, $light-deep-purple-accent);

.light-deep-purple-theme {
  @include angular-material-theme($light-deep-purple-theme);
  @include mix-app-theme($light-deep-purple-theme);
}
// Define an alternate dark theme.
$dark-pink-primary: mat-palette($mat-pink);
$dark-pink-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$dark-pink-warn:    mat-palette($mat-deep-orange);
$dark-pink-theme:   mat-dark-theme($dark-pink-primary, $dark-pink-accent, $dark-pink-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-pink-theme {
  @include angular-material-theme($dark-pink-theme);
  @include mix-app-theme($dark-pink-theme);
}

// Define an alternate dark theme.
$dark-purple-primary: mat-palette($mat-purple);
$dark-purple-accent:  mat-palette($mat-green, A200, A100, A400);
$dark-purple-theme:   mat-dark-theme($dark-purple-primary, $dark-purple-accent);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.dark-purple-theme {
  @include angular-material-theme($dark-purple-theme);
  @include mix-app-theme($dark-purple-theme);
}




